{% extends 'base/base.html' %} {% block content %}
<div class="mb-3 mt-4">
  <h3>Lista de Pokemones</h3>
</div>

{% if pokemon %}

<div class="row p-3 justify-content-md-center">
  {% for pokemon in pokemon%}
  <div class="col-sm-6 mb-5 border-info">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{pokemon.name}}</h5>
        <div class="text-center">
          <img src="{{pokemon.sprite}}" class="rounded" alt="..." />
        </div>
        <a href="{%url 'pokemon_detalle' pokemon.id%}" class="btn btn-success">Ver pokemon</a>
      </div>
    </div>
  </div>
  {%endfor%}
  <div class="row justify-content-evenly p-3">
    <div class="col-md-auto  m-2">
      {%if direccion.previous %}
      <a href="{{ direccion.previous }}" class="btn btn-secondary p-3">Anterior</a>
      {%endif%}
    </div>
    <div class="col-md-auto  m-2">
      <a href="{%url 'pokemon_listar'%}" class="btn btn-secondary p-3">Inicio</a>
    </div>
    <div class="col-md-auto m-2">
      <a href="{{ direccion.next }}" class="btn btn-secondary p-3">Siguiente</a>
    </div>
  </div>
</div>

{% else %}
<h1>No se encontro el pokemon</h1>
{% endif %}{% endblock %}