{% extends 'base/base.html' %} {% block content %}

<div class="row justify-content-md-center">
  <div class="card mb-3 p-5 border-info">
    <h3 class="card-title">{{detalle.nombre}}</h3>
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{detalle.img}}" style="width: 18rem" class="card-img-top rounded mx-auto d-block" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title text-start">Detalles:</h4>
          <h5 class="card-title text-start">Peso:</h5>
          <p class="card-text text-start">{{detalle.peso}}</p>
          <h5 class="card-title text-start">Altura:</h5>
          <p class="card-text text-start">{{detalle.altura}}</p>
          <h5 class="card-title text-start">Tipo:</h5>

          {%if tipos%} {%for tipos in tipos%}
          <p class="card-text text-start">
            <a href="{%url 'pokemon_tipo' tipos.id%}">{{tipos.type.name}}</a>
          </p>

          {%endfor%}{%endif%}
          <h5 class="card-title text-start">Habilidades:</h5>
          {%if habilidades%}{%for habilidades in habilidades%}
          <p class="card-text text-start">{{habilidades.habilidad.name}}</p>
          {%endfor%}{%endif%}
          <h5 class="card-title text-start">Movimientos:</h5>
          {%if movimientos%}{%for movimientos in movimientos%}
          <p class="card-text text-start">{{movimientos.move.name}}</p>
          {%endfor%}{%endif%}
        </div>

      </div>

    </div>


  </div>
</div>

{% endblock %}